<h1>Presentaciones por fecha</h1>

<p><em>
	Reingresos son los proyectos de ley que vuelven a ingresar al recinto luego de haber sido rechazados o retirados.
</em></p>

<script type="text/javascript" src="//ajax.googleapis.com/ajax/static/modules/gviz/1.0/chart.js"> {"dataSourceUrl":"//docs.google.com/spreadsheet/tq?key=0AtjS_HV6mjj-dENwQy1NLTdhR3huRzVuMVFUYTZ2YWc&transpose=0&headers=1&range=A1%3AC477&gid=3&pub=1","options":{"displayAnnotations":true,"titleTextStyle":{"fontSize":16},"vAxes":[{"useFormatFromData":true,"title":"Left vertical axis title","minValue":null,"viewWindowMode":"pretty","viewWindow":{"min":null,"max":null},"maxValue":null},{"useFormatFromData":true,"minValue":null,"viewWindowMode":"pretty","viewWindow":{"min":null,"max":null},"maxValue":null}],"booleanRole":"certainty","title":"Chart title","animation":{"duration":0},"legend":"right","wmode":"opaque","hAxis":{"useFormatFromData":true,"title":"Horizontal axis title","minValue":null,"viewWindowMode":"pretty","viewWindow":{"min":null,"max":null},"maxValue":null},"width":900,"height":600},"state":{},"view":{},"chartType":"AnnotatedTimeLine","chartName":"Chart 2"} </script> 