
  <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="hero-unit">
    <h1>Buscá a tu diputado!</h1>
    <p>sarasa.</p>
    <p><a class="btn btn-primary btn-large" href="/diputados">Ingresar &raquo;</a></p>
  </div>

  <!-- Example row of columns -->
  <div class="row">
    <div class="span4">
      <h2>una cosa!</h2>
      <p>........ </p>
      <p><a class="btn" href="#">Ver &raquo;</a></p>
    </div>
    <div class="span4">
      <h2>otra cosa!</h2>
      <p>.... </p>
      <p><a class="btn" href="#">Ver &raquo;</a></p>
   </div>
    <div class="span4">
      <h2>y otra más!</h2>
      <p>....</p>
      <p><a class="btn" href="#">Ver &raquo;</a></p>
    </div>
  </div>

