
  <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="hero-unit">
    <h1>Buscá a tu diputado!</h1>
    <p>Aquí encontrarás información de cada diputado.<br/> En el futuro podrás encontrar qué diputado vota como vos lo harías.</p>
    <p><a class="btn btn-primary btn-large" href="/diputados">Ingresar &raquo;</a></p>
  </div>

  <!-- Example row of columns -->
  <div class="row">
    <div class="span4">
      <a href="http://www.datafest.org.ar">
        <img src="http://www.datafest.org.ar/avatar.png" style="width:70%" />
      </a>
      <p>2 y 3 de Noviembre de 2012</p>
      <p>Esto es un prototipo</p>
    </div>

    <div class="span4">
      <!--<h2>!</h2>-->
      
      <!--<p><a class="btn" href="#">Ver &raquo;</a></p>-->
   </div>


    <div class="span4">
      <h2>Equipo</h2>
      <h4>Data Miners</h4>
        <ul>
          <li>Pablo Seibelt</li>
          <li>Silvia Cobialca</li>
          <li>Juan José Sisti</li>
      </ul>
      <h4>Periodistas</h4>
        <ul>
          <li>Federico Sierra</li>
          <li>Matías Cardenas</li>
        </ul>
      <h4>Programador</h4>
        <ul>
          <li>Nicolás Cerrini</li>
        </ul>
      <h4>Colaboradores</h4>
        <ul>
          <li>Noel - Directorio Legislativo</li>
          <li>Andy</li>
        </ul>

    </div>
  </div>

