<h1><%= @diputado.apyn %></h1>

<div><%= image_tag @diputado.url_foto_grande %></div>
<br/>

<pre>
Fecha de nacimiento - edad
diputado? senador? mandato/s (actual?)
bloque
provincia
comisiones en que participa (+ rol) (presidente?)
..

...
presentismo?
conducta? vota indep'te o vota como el bloque?
...

proyectos presentados
votos

</pre>